@model TrackAdemy.Models.StudentModel

@{
    ViewBag.Title = "Delete";
}

<!--Delete Student mockup page-->
<div class="container">
    <div class="studentDeleteRow" >

        @{
            if (Model == null)
            {
                <p>No Student</p>
            }

            else
            {
                <div class="row">
                    <h2 class="subheader" >Delete Student?</h2>
                    <br />
                    <br />

                    <div class="row">
                        <div class="col-sm-3 text-right">
                        </div>
                        <div class="col-sm-2">
                            <img src=@string.Format("/Content/images/StudentImages/Student{0}", @Model.URIProfilePicture)  />
                            <br />
                            <span>
                                @Model.FirstName @Model.LastName
                                <br />
                                <br />
                                <br />
                            </span>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.FirstName)
                        @Html.HiddenFor(m => m.LastName)
                        @Html.HiddenFor(m => m.URIProfilePicture)
                        @Html.HiddenFor(m => m.Username)
                        @Html.HiddenFor(m => m.Password)
                        @Html.HiddenFor(m => m.URICurrentWeek)
                        @Html.HiddenFor(m => m.URICurrentMonth)
                        @Html.HiddenFor(m => m.URI3Months)
                        @Html.HiddenFor(m => m.URIYear2Date)
                        @Html.HiddenFor(m => m.TotalHours)
                        @Html.HiddenFor(m => m.DaysAttended)
                        @Html.HiddenFor(m => m.AvgIn)
                        @Html.HiddenFor(m => m.AvgOut)
                        
                        <!--Buttons for Delete actions-->
                        <div class="row">
                            <div class="col-sm-3 text-right">
                            </div>
                            <div class="col-sm-4">
                                @Html.ActionLink("Cancel", "Read", new { id = Model.Id }, new { @class = "btn btn-success" })
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </div>
                        </div>
                    }

                </div>
            }

        }
    </div>
</div>
