@model TrackAdemy.Models.StudentModel

@{
    ViewBag.Title = "Read";
}


<div id="studentReadcontainer" class="container">
    <div id ="studentStats" class="row">
        <div class="col-sm-12">
            @{
            if (Model == null)
            {
            <p>No Student</p>
            }

            else
            {
            <div class="row">
                <h2>Read Student</h2>
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-2"  >
                        <img class="ReadProfilePic" src=@string.Format("/Content/images/StudentImages/Student{0}", @Model.URIProfilePicture) alt=""/>
                        <br />
                        <span id="profileSpan">
                            @Model.FirstName @Model.LastName
                            <br />
                            <br />
                            <br />
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FirstName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.FirstName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.LastName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.LastName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.AvgIn)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.AvgIn)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.AvgOut)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.AvgOut)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.DaysAttended)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.DaysAttended)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Username)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.Username)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.URIProfilePicture)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(x => x.URIProfilePicture)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.TotalHours)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(x => x.TotalHours)
                    </div>
                </div>

                <br />
                <br />
                

            </div>
            }

            }
        </div>
        
        
    </div>
    <div id="graphs">
        <div id="threeMonths">
            <img src=@string.Format("/Content/images/SVG/ChartSVG/{0}", @Model.URI3Months) alt=""/>
        </div>

        <div id="currentMonth">
            <img src=@string.Format("/Content/images/SVG/ChartSVG/{0}", @Model.URICurrentMonth) alt="smiley face"/>
            <br />
            <div id="yearToDate">
                <br />
                <img src=@string.Format("/Content/images/SVG/ChartSVG/{0}", @Model.URIYear2Date) alt=""/>
                <br />
                <br />
            </div>

            <div id="totalHours">
                <img src="~/Content/images/SVG/ChartSVG/Admin_Manage_TotalHours.svg"/>
                <br />
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-3"></div>
    <div id="manageButtons" class="col-sm-8">
        @Html.ActionLink("Archive", "Archive", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Cancel", "ManageStudent", "Admin", new { id = "" }, new { @class = "btn btn-success" })
        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
        <button onclick="" class="btn btn-info" href="#">Download PDF</button>
        <img id="downloadPDF" src="~/Content/images/SVG/" />

    </div>
</div>