@model TrackAdemy.Models.StudentModel

@{
    ViewBag.Title = "Read";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @{
            if (Model == null)
            {
            <p>No Student</p>
            }

            else
            {
            <div class="row">
                <h2>Read Student</h2>
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-sm-2">
                        <img src=@Model.URIProfilePicture class="AvatarSize1" />
                        <br />
                        <span>
                            @Model.FirstName @Model.LastName
                            <br />
                            <br />
                            <br />
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FirstName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.FirstName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.LastName)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.LastName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.AvgIn)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.AvgIn)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.AvgOut)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.AvgOut)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.DaysAttended)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.DaysAttended)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Username)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(m => m.Username)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.URI3Months)
                    </div>
                    <div class="col-sm-2">
                        @Html.DisplayFor(x => x.URI3Months)
                    </div>
                </div>

                <br />
                <br />
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-8">
                        @Html.ActionLink("Cancel", "ManageStudent", "Admin", new { id = "" },new { @class = "btn btn-success" })
                        @Html.ActionLink("Update", "Update", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                    </div>
                </div>

            </div>
            }

            }
        </div>
    </div>
</div>