@model TrackAdemy.Models.StudentModel

@{
    ViewBag.Title = "Update";
}


<div class="container">
    <div class="row">

        @{
        if (Model == null)
        {
        <p>No Student</p>
        }

        else
        {
        <div class="row">
            <h2>Update Student</h2>
            <br />
            <br />

            <div class="row">
                <div class="col-sm-3 text-right">
                </div>
                <div class="col-sm-2">
                    <img src=@string.Format("/Content/images/StudentImages/Student{0}", @Model.URIProfilePicture) />
                    <br />
                    <span>
                        @Model.FirstName @Model.LastName
                        <br />
                        <br />
                        <br />
                    </span>
                </div>
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Password)
                @Html.HiddenFor(m => m.URICurrentWeek)
                @Html.HiddenFor(m => m.URICurrentMonth)
                @Html.HiddenFor(m => m.URI3Months)
                @Html.HiddenFor(m => m.URIYear2Date)                
                @Html.HiddenFor(m => m.DaysAttended)
                @Html.HiddenFor(m => m.AvgIn)
                @Html.HiddenFor(m => m.AvgOut)

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.FirstName)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.LastName)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.LastName)
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.Username)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.Username)
                        @Html.ValidationMessageFor(m => m.Username)

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.URIProfilePicture)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.URIProfilePicture)
                        @Html.ValidationMessageFor(m => m.URIProfilePicture)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        @Html.DisplayNameFor(m => m.TotalHours)
                    </div>
                    <div class="col-sm-2">
                        @Html.EditorFor(m => m.TotalHours)
                        @Html.ValidationMessageFor(m => m.TotalHours)
                    </div>
                </div>


                <br />
                <br />
                <div class="row">
                    <div class="col-sm-3 text-right">
                    </div>
                    <div class="col-sm-4">
                        @Html.ActionLink("Cancel", "Index", new { id = Model.Id }, new { @class = "btn btn-success" })
                        <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                </div>

            }


        </div>
        }

        }
    </div>
</div>