<!DOCTYPE html>
<html>
<head>   
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:unset; padding-bottom:unset">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TrackAdemy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Student", "Index", "Student")</li>
                    <li>@Html.ActionLink("Pet Store", "Store", "Student")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    <li>@Html.ActionLink("Log Out", "Index", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="~/Student/Index" class="btn btn-primary">Home</a>
        <a href="~/Student/Data" class="btn btn-primary">Data</a>
        <a href="~/Student/Yard" class="btn btn-primary">Pet Yard</a>
        <a href="~/Student/Store" class="btn btn-primary">Pet Store</a>
        <a href="~/Student/Aspirations" class="btn btn-primary">Pet Aspirations</a>
        <a href="~/Student/Logout" class="btn btn-primary">Log Out</a>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>