<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  
</head>
<body>
    @{
        @*Gets view name*@
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();

        @*getting action name*@
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();

    @*making a list of exception student pages*@
    string []studentAdminPagesList= {"Read", "Create", "Update", "Delete" };
    bool inList = (controllerName == "Student" && Array.Exists(studentAdminPagesList, x => x == actionName));

        @*Conditionals to determine which view called the shared layout. Depending on which, displays navbars.*@
        @*Admin nav*@
    if (controllerName == "Admin" || inList) 
    {
            <div id="adminNav" class="navbar navbar-inverse navbar-fixed-top" style="background:linear-gradient(to right, #C22026,#F8AB9F );">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbare-nav "style="margin-top:13px">
                            <li style="float:left; margin-left:-90px;">
                                <a href="~/Home/Index">
                                    <img class="img-responsive" src="~/Content/images/SVG/Trackademy_White.svg" style="width:80%; margin-top:-5px"></a>
                            </li>
                            <li style="margin-right:-60px"><a href="~/Home/Index">LOG OUT</a></li>
                            <li><a href="~/Admin/ManageStudent">MANAGE STUDENT</a></li>
                            <li><a href="~/Admin/Calendar">CALENDAR</a></li>
                            <li><a href="~/Admin/Index">HOME PAGE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    }
        @*Student nav*@
    else if (controllerName == "Student")
    {
            <div id="studentNav" class="navbar navbar-inverse navbar-fixed-top" style="background:linear-gradient(to right, #37499F,#3D92D0);height:12%">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbare-nav" style="margin-top:13px">
                            <li style="float:left; margin-left:-90px;">
                                <a href="~/Home/Index">
                                    <img class="img-responsive" src="~/Content/images/SVG/Trackademy_White.svg" style="width:80%; margin-top:-5px">
                                </a>
                            </li>
                            <li style=" float:left; overflow:visible;">
                                <a href="~/Student/Index">
                                    <img class="img-responsive" src="~/Content/images/SVG/NavBar_Picture.svg" style="width:100%; margin-left:110px; margin-top:-80px;">
                                </a>
                            </li>
                            <li style="margin-right:-60px"><a href="~/Home/Index">LOG OUT</a></li>
                            <li><a href="~/Student/Aspirations">ASPIRATIONS</a></li>
                            <li><a href="~/Student/Store">PET STORE</a></li>
                            <li><a href="~/Student/Yard">PET YARD</a></li>
                            <li><a href="~/Student/Index">STUDENT HOME</a></li>
                        </ul>
                    </div>
                </div>

            </div>
}
        @*TrackAdemy home*@
    else if (controllerName == "Home")
    {
            <div class="navbar navbar-inverse navbar-fixed-top" style="background:black;">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbare-nav" style="margin-top:13px">
                            <li style="float:left; margin-left:-90px;">
                                <a href="~/Home/Index"><img class="img-responsive" src="~/Content/images/SVG/Trackademy_White.svg" style="width:80%; margin-top:-5px"></a>
                            </li>
                            <li><a href="~/Student/Index">Students</a></li>
                            <li><a href="~/Admin/Index">Administrators</a></li>
                            <li><a href="~/Kiosk/Index">Kiosk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    }
    <!--End conditional layout-->
    
            <div class="container body-content">
                @RenderBody()

                        <footer style="bottom: 0; position: static;">
                            <hr />
                            &copy;@DateTime.Now.Year - TrackAdemy
                            @Html.ActionLink("About", "About", "Home", new { controller = "Home" }, new { @class = "btn btn-link", @style = "margin-top:-8px; color:black" })
                            @Html.ActionLink("Help", "Help", "Home", new { controller = "Home" }, new { @class = "btn btn-link", @style = "margin-top:-8px; color:black" })
                        </footer>
                    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 }
</body>
</html>
