<!DOCTYPE html>
<html>
<head>   
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:unset; padding-bottom:unset">
    <div class="btn-group btn-group-justified">
        <a href="~/Student/Index" class="btn btn-primary">Home</a>
        <a href="~/Student/Data" class="btn btn-primary">Data</a>
        <a href="~/Student/Yard" class="btn btn-primary">Pet Yard</a>
        <a href="~/Student/Store" class="btn btn-primary">Pet Store</a>
        <a href="~/Student/Aspirations" class="btn btn-primary">Pet Aspirations</a>
        <a href="~/Student/Logout" class="btn btn-primary">Log Out</a>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>