<!DOCTYPE html>
<html>
<head>   
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .right {
            position: absolute;
            right: 10px;
            width: 15%;
            border: 3px solid #73AD21;
            padding: 10px;
        }
        .background {
            background: linear-gradient(to right, #C22026,#F2696A);
            width: 100%;
            height: 10%;
            position: absolute;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        a {
            color: white;
            float: right;
        }

        b {
            float: left;
        }

        li a {
            display: inline;
            padding: 10px;
            text-align: center;
        }

        li b {
            display: inline;
            padding: 10px;
        }
    </style>
</head>
<body style="padding-top:unset">
    <div class="background">
        <ul class="navbar-collapse nav">
            <li style="float:left"><a href="~/Home/Index">TRACKADEMY</a></li>
            <li><a href="~/Home/Index">Log Out</a></li>
            <li><a href="~/Admin/Report">Reports</a></li>
            <li><a href="~/Admin/ModifyStudent">Modify Student</a></li>
            <li><a href="~/Admin/Index">HOME PAGE</a></li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TrackAdemy</p>
        </footer>
    </div>
    <div class="btn-group btn-group-justified">
        <a href="~/Admin/Index" class="btn btn-primary">Home</a>
        <a href="~/Admin/Report" class="btn btn-primary">Report</a>
        <a href="~/Admin/ModifyStudent" class="btn btn-primary">Modify Student</a>
        <a href="~/Admin/LogOut" class="btn btn-primary">Logout</a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>