<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .background {
            background: linear-gradient(to right, #37499F,#3D92D0);
            width: 100%;
            height: 10%;
            position:absolute;
        }

        ul {
            list-style-type:none;
            margin: 0;
            padding: 0;
            overflow:hidden;
        }

        a{
            color: white;
            float: right;
        }

        b{
            float: left;
        }

        li a {
            display: inline;
            padding: 0px;
            text-align:center;
        }

        li b {
            display: inline;
            padding: 10px;
        }

    </style>
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top" style="background:linear-gradient(to right, #37499F,#3D92D0);">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbare-nav">
                        <li style="float:left"><a href="~/Home/Index">TRACKADEMY HOME</a></li>
                        <li><a href="~/Home/Index">Log Out</a></li>
                        <li><a href="~/Student/Aspirations">Aspirations</a></li>
                        <li><a href="~/Student/Store">Pet Store</a></li>
                        <li><a href="~/Student/Yard">Pet Yard</a></li>
                        <li><a href="~/Student/Index">HOME PAGE</a></li>
                    </ul>
                </div>
            </div>
        </div>
            @RenderBody()
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

</body>
</html>
<!--
<body style="padding-top:unset; padding-bottom:unset;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TrackAdemy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Student", "Index", "Student")</li>
                    <li>@Html.ActionLink("Pet Store", "Store", "Student")</li>
                    <li>@Html.ActionLink("Pet Yard", "Yard", "Student")</li>
                    <li>@Html.ActionLink("Pet Aspirations", "Aspirations", "Student")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Help", "Help", "Home")</li>
                    <li>@Html.ActionLink("Log Out", "Index", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
   
</body>
</html>
    -->