@{
    ViewBag.Title = "Report";
}

<!--Student name drop-down menu-->
<div id="reportStudentDropDown" style="display:inline-block;">
    <ul class="nav nav-pills">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">@ViewData["student"]<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <div class="btn-group btn-group-justified">
                    <li>@Html.ActionLink("Ryan Barter", "Report", "Admin", new{student = "Ryan Barter"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Lesley Carring", "Report", "Admin", new{student = "Lesley Carring"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Jamie Curtis", "Report", "Admin", new{student = "Jamie Curtis"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Seetal Guri", "Report", "Admin", new{student = "Seetal Guri"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Ramon Leviter", "Report", "Admin", new{student = "Ramon Leviter"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Zachary Monson", "Report", "Admin", new{student = "Zachary Monson"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Ashley Mortimer", "Report", "Admin", new{student = "Ashely Mortimer"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Alex Randall", "Report", "Admin", new{student = "Alex Randall"}, new { @class = "btn btn-primary" })</li>
                    <li>@Html.ActionLink("Kim Reynolds", "Report", "Admin", new{student = "Kim Reynolds"}, new { @class = "btn btn-primary" })</li>
                </div>
            </ul>
        </li>
    </ul>
</div>

<!--Time Range drop-down menu-->
@{
    if(ViewData["student"] != "Select a Student")
    {
        <div id="reportStudentTime">
            <ul class="nav nav-pills">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">@ViewData["Title"]<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <div class="btn-group btn-group-justified">
                            <li>@Html.ActionLink("Last Week", "Report", "Admin", new{student = ViewData["student"], date=ViewData["LastWeek"]}, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Last Month", "Report", "Admin", new{student = ViewData["student"], date="Last Month"}, new { @class = "btn btn-primary" })</li>
                            <li>@Html.ActionLink("Year", "Report", "Admin", new{student = ViewData["student"], date="Year"}, new { @class = "btn btn-primary" })</li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <img src="~/Content/images/adminReports.png" alt="about page" style="width:100%;height:90%;">
        <div id="downloadButton">
            <a href="~/Admin/Report_PDF" class="btn btn-primary">Download PDF</a>
        </div>
    }   
}